<v-app id="ddct_region_compare">
    <v-main>

        <!-- Key Contacts -->
        <v-container fluid v-if="keyContacts.length > 0" class="ddct-contacts pa-0">
            <div class="title">{{strings.label_key_contacts}}</div>
            <div class="ddct-contact-container">
                <v-card v-for="contact in keyContacts" outlined class="px-2 pt-1 ddct-contact text-no-wrap">
                    <v-row dense>
                        <v-col>
                            <img :src="contact.image"/>
                        </v-col>
                        <v-col class="ddct-contact-details">
                            <div class="text-body-1">{{contact.firstname}} {{contact.lastname}}</div>
                            <div class="text-caption">{{contact.jobtitle}}</div>
                            <div class="text-caption"><a :href="'mailto:' + contact.email">{{contact.email}}</a></div>
                        </v-col>
                    </v-row>  
                </v-card>
            </div>
        </v-container>

        <!-- PK Tree -->
        <v-container fluid class="display-none-print">
            <v-text-field clear-icon="clear" clearable hide-details dense append-icon="filter_list" :label="strings.label_region_search" v-model="region_search"></v-text-field>
            <v-treeview expand-icon="arrow_drop_down" on-icon="check_box" off-icon="check_box_outline_blank" indeterminate-icon="indeterminate_check_box" transition class="overflow-auto ddct-four-column" :open="region_open_node_keys" @input="regionChange" open-all dense hoverable open-on-click selectable :selected-color="color" :items="arch.regionsAsTreeview" :search="region_search" :value="region_value"></v-treeview>
        </v-container>

        <!-- Topic Tree -->
        <v-container fluid class="display-none-print">
            <v-text-field clear-icon="clear" clearable hide-details dense append-icon="filter_list" :label="strings.label_topic_search" v-model="topic_search"></v-text-field>
            <v-treeview expand-icon="arrow_drop_down" on-icon="check_box" off-icon="check_box_outline_blank" indeterminate-icon="indeterminate_check_box" transition class="overflow-auto" item-disabled="disabled" :open="topic_open_node_keys" @input="topicChange" dense hoverable selectable :selected-color="color" :items="arch.topicsAsTreeview" :search="topic_search" :value="topic_value">
                <template v-slot:append="{ item, open, leaf }" v-if="strings.config_enable_updates_since === '1'">
                    <updates-since v-if="leaf" :item="item" :strings="strings" @change="dateChange" :color="color"></updates-since>
                </template>
            </v-treeview>
        </v-container>

        <!-- Table Toolbar -->
        <v-container fluid class="display-none-print text-right pa-1">
            <v-btn text small class="d-inline-block" :color="color" @click="expandAll"><v-icon left>unfold_more</v-icon> {{strings.button_expand_all}}</v-btn>
            <v-btn text small class="d-inline-block" :color="color" @click="collapseAll"><v-icon left>unfold_less</v-icon> {{strings.button_collapse_all}}</v-btn>
            <v-btn text small class="d-inline-block" :color="color" @click="startOver"><v-icon left>refresh</v-icon> {{strings.button_start_over}}</v-btn>
            <v-btn text small class="d-inline-block" :color="color" @click="print"><v-icon left>print</v-icon> {{strings.button_print}}</v-btn>
            <v-btn text small class="d-inline-block" :color="color" @click="copy"><v-icon left>link</v-icon> {{strings.button_copy_link}}</v-btn>
            <v-btn text small class="d-inline-block" :color="color" @click="download"><v-icon left>save_alt</v-icon> {{strings.button_export}}</v-btn>
        </v-container>

        <div class="ddct_table_wrapper caption">

            <!-- Table Mobile View -->
            <div v-show="show_mobile && region_value.length > 0">
                <table>
                    <tbody>  
                        <template v-for="(category,index) in arch.topicsAsTreeview[0].children" v-if="getSelectedTopicQuestions(category).length > 0">
                            <tr>
                                <td class="ddct_table_cell pa-2 ddct_table_category white--text">{{category.name}}</td>
                            </tr>
                            <template v-for="(item,index2) in getSelectedTopicQuestions(category)">
                                <tr>
                                    <td class="ddct_table_cell pa-2 ddct_table_sub_category">{{item.name}}</td>
                                </tr>
                                <template v-for="(pk,index3) in getRegions">
                                    <tr>
                                        <td class="ddct_table_cell pa-2 ddct_table_odd_row">{{pk}}</td>
                                    </tr>
                                    <tr>
                                        <td class="ddct_table_cell pa-2 ddct_table_even_row">
                                            <read-more :color="color" :strings="strings" :contents="arch.getAnswer(pk, item.id)" :print_mode="print_mode"></read-more>
                                            <meta-data :color="color" :show_mobile="show_mobile" @edit="editMetadataItemHandler(pk, item.id)" :edit_mode="edit_mode" :strings="strings" :item="item" :updates_since="item.updates_since" :metadata="arch.getMetadata(pk, item.id)"></meta-data>
                                        </td>
                                    </tr>
                                </template>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>

            <!-- Table Desktop View -->
            <div v-show="!show_mobile && region_value.length > 0" class="ddct_table_sticky">
                <table>
                    <tbody>
                        <template v-for="(category,index) in arch.topicsAsTreeview[0].children" v-if="getSelectedTopicQuestions(category).length > 0">
                            <tr>
                                <td :data-code="JSON.stringify([category.header, 1, 1, index, arch.topicsAsTreeview[0].children.length])" :class="['ddct_table_cell pa-2 ddct_table_category white--text ddct_first_column', {'ddct_header_cell' : category.header}]">
                                    <div align="right" v-if="edit_mode" class="display-none-print">
                                        <v-btn text icon dark @click="editCategoryHandler(category)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </div>
                                    {{category.name}}
                                </td>
                                <td :data-code="JSON.stringify([category.header, 0, 1, index, arch.topicsAsTreeview[0].children.length])" :class="['ddct_table_cell pa-2 ddct_table_category white--text', {'ddct_header_cell' : category.header}]" v-for="(pk,index3) in getRegions">{{pk}}</td>
                            </tr>
                            <tr v-for="(item,index2) in getSelectedTopicQuestions(category)">
                                <td :data-code="JSON.stringify([category.header, 1, 0, index, arch.topicsAsTreeview[0].children.length])" :class="['ddct_table_cell pa-2 ddct_first_column font-weight-bold', {'ddct_header_cell' : category.header}, isEven(index2) ? 'ddct_table_even_row' : 'ddct_table_odd_row']">
                                    <div align="right" v-if="edit_mode" class="display-none-print">
                                        <v-btn text icon :color="color" @click="editQuestionHandler(item)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </div>
                                    {{item.name}}
                                </td>
                                <td :data-code="JSON.stringify([category.header, 0, 0, index, arch.topicsAsTreeview[0].children.length])" :class="['ddct_table_cell pa-2', {'ddct_header_cell' : category.header}, isEven(index2) ? 'ddct_table_even_row' : 'ddct_table_odd_row']" v-for="(pk,index3) in getRegions">
                                    <div align="right" v-if="edit_mode" class="display-none-print">
                                        <v-btn text icon :color="color" @click="editItemHandler(pk, item.id)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </div>
                                    <read-more :color="color" :strings="strings" :contents="arch.getAnswer(pk, item.id)" :print_mode="print_mode"></read-more>
                                    <meta-data :color="color" :show_mobile="show_mobile" @edit="editMetadataItemHandler(pk, item.id)" :edit_mode="edit_mode" :strings="strings" :item="item" :updates_since="item.updates_since" :metadata="arch.getMetadata(pk, item.id)"></meta-data>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Back To Top -->
        <v-fab-transition>
            <v-btn class="z-index-9999 display-none-print" fab large dark :color="color" fixed right bottom v-on:click="scrollUp" v-show="offsetTop > 100" v-scroll="onScroll">
                <v-icon large>keyboard_arrow_up</v-icon>
            </v-btn>
        </v-fab-transition>

        <!-- Print Disclaimer -->
        <div class="ddct-print-disclaimer z-index-9999 white--text display-4 pa-4" v-if="show_print_disclaimer">
            {{strings.alert_print_button}}
        </div>

    </v-main>
</v-app>