.z-index-9999 {
  z-index: 9999 !important;
}

.position-fixed {
  position: fixed !important;
}

#ddct_region_compare {
  background: transparent;
  /* table with fixed header/left column, sticky sections and sub sections */
}

#ddct_region_compare .ddct-contacts {
  color: #6E2D91;
}

#ddct_region_compare .ddct-contacts .ddct-contact img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

#ddct_region_compare .ddct-contacts .ddct-contact .ddct-contact-details {
  color: #6E2D91;
}

#ddct_region_compare .ddct-contacts .ddct-contact .ddct-contact-details a {
  text-decoration: none;
  color: #6E2D91;
}

#ddct_region_compare .ddct-four-column .v-treeview-node.v-treeview-node--leaf {
  float: left;
  width: 228px;
}

#ddct_region_compare .ddct_table_wrapper {
  position: relative;
  -webkit-print-color-adjust: exact;
}

#ddct_region_compare .ddct_table_wrapper > div > table {
  border-collapse: collapse;
  min-width: 100%;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_cell {
  border: 1px solid #dddddd;
  vertical-align: top;
  min-width: 180px;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_cell:before {
  content: '';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid #dddddd;
  pointer-events: none;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_cell .ddct_read_more_closed .ddct_read_more_content_wrapper {
  max-height: 150px;
  position: relative;
  overflow: hidden;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_cell .ddct_read_more_closed .ddct_read_more_content_wrapper .ddct_read_more_content_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_cell a {
  color: #6E2D91;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_category {
  background-color: #6E2D91;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_sub_category {
  background-color: #bdbdbd;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_even_row {
  background-color: #fcfcfc;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_even_row .ddct_read_more_closed .ddct_read_more_content_overlay {
  background: -webkit-gradient(linear, left bottom, left top, from(#fcfcfc), color-stop(10%, #fcfcfc), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #fcfcfc 0%, #fcfcfc 10%, rgba(0, 0, 0, 0) 100%);
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_odd_row {
  background-color: #f4f4f4;
}

#ddct_region_compare .ddct_table_wrapper .ddct_table_odd_row .ddct_read_more_closed .ddct_read_more_content_overlay {
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f4f4), color-stop(10%, #f4f4f4), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #f4f4f4 0%, #f4f4f4 10%, rgba(0, 0, 0, 0) 100%);
}

#ddct_region_compare .ddct_table_wrapper .ddct_first_column {
  width: 200px;
}

@media print {
  #ddct_region_compare .ddct_table_wrapper {
    /* adjust font size */
  }
  #ddct_region_compare .ddct_table_wrapper .ddct_first_column {
    width: 135px;
  }
  #ddct_region_compare .ddct_table_wrapper, #ddct_region_compare .ddct_table_wrapper .ddct_table_cell span {
    font-size: 10px !important;
    line-height: 13px;
  }
}

@media screen {
  #ddct_region_compare .ddct_table_wrapper .ddct_table_cell {
    position: -webkit-sticky;
    position: sticky;
  }
  #ddct_region_compare .ddct_table_wrapper .ddct_table_sticky .ddct_first_column {
    left: 0;
  }
}

#ddct_region_compare .ddct-print-disclaimer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media print {
  #ddct_region_compare {
    width: calc(100% - 1px);
  }
  #ddct_region_compare .display-none-print {
    display: none;
  }
}
/*# sourceMappingURL=country_compare_tool_DEV.css.map */