html, body {
    height:100%;
}

body {
    background-color: black;
    color:white;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/green_sky_4-wallpaper-1920x1200.jpg");
    background-size:100% 100vh;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:1em;
    box-sizing: border-box;
}

.gns-title {
    font-size:30px;
}
.gns-guitar-img {
    opacity: 0.5;
    width:80%;
    max-width:300px;
    border-radius:20px;
    margin:20px;
}
.gns-center {
    text-align:center;
}

audio {
    width:100%;
    outline:none;
}