<!DOCTYPE html>
<html>
    <head>
        <title>Title of the document</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="profile">

            <div class="rd-center-section">
                <img :src="image_url" class="rd-circle-picture elevation-1"/>
            </div>

            <div class="rd-section elevation-1">
                <div>Name: {{name}}</div>
                <div>Position: {{headline}}</div>
                <div>LinkedIn Connections: {{connections}}</div>
                <div>Location: {{location}}</div>
                <div>Industry: {{industry}}</div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Intro</h3>
                <div>{{intro.current_work}}</div>
                <div><a :href="intro.previous_work_url">{{intro.previous_work}}</a></div>
                <div><a :href="intro.education_url">{{intro.education}}</a></div>
                <div>{{intro.recommenations_count}}</div>
                <div v-for="website in intro.websites">
                    <a :href="website.url">{{website.name}}</a>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Summary</h3>
                <div v-html="summary_html"></div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Experience</h3>
                <div v-for="(exp,index) in experience">
                    <div class="rd-2-col-icon">
                        <div>
                            <div>{{exp.title}}</div>
                            <div>{{exp.subtitle}}</div>
                            <div class="rd-caption">{{exp.date_range}}</div>
                            <div class="rd-caption">{{exp.location}}</div>
                            <div v-html="exp.description_html"></div> 
                        </div>
                        <div>
                            <img :src="exp.logo_url"/>
                        </div>
                    </div>
                    <hr v-if="index < experience.length-1"/>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Education</h3>
                <div v-for="(edu,index) in education">
                    <div class="rd-2-col-icon">
                        <div>     
                            <div>{{edu.title}}</div>
                            <div>{{edu.subtitle}}</div>
                            <div class="rd-caption">{{edu.date_range}}</div>
                            <div v-html="edu.description_html"></div>
                        </div>
                        <div>
                            <img :src="edu.logo_url"/>
                        </div>
                    </div>
                    <hr v-if="index < education.length-1"/>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Skills</h3>
                <div v-for="skill in skills" class="rd-tag">
                    <span>{{skill.name}}</span> <span v-if="skill.count">- {{skill.count}}</span> 
                </div>
            </div>  

            <div class="rd-section elevation-1">
                <h3>Certifications</h3>
                <div v-for="(cert,index) in certifications">
                    <div><a :href="cert.url">{{cert.title}}</a></div>
                    <div>{{cert.subtitle}}</div>
                    <div class="rd-caption">{{cert.date_range}}</div>
                    <hr v-if="index < certifications.length-1"/>
                </div> 
            </div>

            <div class="rd-section elevation-1">
                <h3>Courses</h3>
                <div v-for="course_set in courses">
                    <b>{{course_set.title}}</b>
                    <ul>
                        <li v-for="course in course_set.courses">
                            {{course}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Awards</h3>
                <div v-for="(award,index) in awards">
                    <div><b>{{award.title}}</b></div>
                    <div>{{award.subtitle}}</div>
                    <div class="rd-caption">{{award.date_range}}</div>
                    <div v-html="award.description_html"></div>
                    <hr v-if="index < awards.length-1"/>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Projects</h3>
                <div v-for="(project,index) in projects">
                    <div><b><a :href="project.url">{{project.title}}</a></b></div>
                    <div>{{project.subtitle}}</div>
                    <div class="rd-caption">{{project.date_range}}</div>
                    <div v-html="project.description_html"></div>
                    <div v-if="project.contributers.length > 0">
                        <br/>
                        <div class="rd-caption">Project Contributors</div>
                    </div>
                    <div v-for="contributer in project.contributers" class="rd-tag">
                        <a :href="contributer.url">{{contributer.name}}</a>
                    </div>
                    <hr v-if="index < projects.length-1"/>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Recommendations</h3>
                <div v-for="recommendation in recommendations">
                    <i>{{recommendation}}</i>
                </div>
            </div>

            <div class="rd-section elevation-1">
                <h3>Groups</h3>
                <div v-for="group in groups" class="rd-small-card">
                    <a :href="group.url"><img :src="group.logo_url" class="rd-small-card-icon"/>{{group.title}}</a>
                </div>
            </div>
        </div>

        <script>
            $.ajax({
                url:"/exp/profile.html",
                success:function(data) {
                    $.ajax({
                        url:"/exp/skills.html",
                        success:function(data2) {
                            var page = $($.parseHTML(data));
                            var skills = $($.parseHTML(data2));

                            var vm = new Vue({
                                el: '#profile',
                                data: {
                                    image_url : page.find(".image.profile-img").attr("data-delayed-url"),
                                    name : page.find("#name").text(),
                                    headline : page.find(".headline.title").text(),
                                    connections : page.find(".member-connections strong").text(),
                                    location : page.find("#demographics .descriptor.address").text(),
                                    industry : page.find("#demographics .descriptor:not(.address)").text(),
                                    intro : {
                                        current_work : page.find(".extra-info tr[data-section='currentPositionsDetails'] td").text(),
                                        previous_work : page.find(".extra-info tr[data-section='pastPositionsDetails'] td").text(),
                                        previous_work_url : page.find(".extra-info tr[data-section='pastPositionsDetails'] a").attr("href"),
                                        education : page.find(".extra-info tr[data-section='educationsDetails'] td").text(),
                                        education_url : page.find(".extra-info tr[data-section='educationsDetails'] td").attr("href"),
                                        recommenations_count : page.find(".extra-info tr[data-section='recommendations'] td strong").eq(0).text(),
                                        websites : $.makeArray(page.find(".extra-info tr[data-section='websites'] td li").map(function(i, val) {
                                            var li_url = $(val).find("a").attr("href");
                                            var r = new URL(li_url);
                                            return {
                                                name : $(val).text(),
                                                url : r.searchParams.get("url")
                                            };
                                        }))
                                    },
                                    summary_html : page.find("#summary .description").html(),
                                    experience : $.makeArray(page.find("#experience > ul > li").map(function(i, val) {
                                        return {
                                            logo_url : $(val).find(".logo img").attr("data-delayed-url"),
                                            title : $(val).find(".item-title").text(),
                                            subtitle : $(val).find(".item-subtitle").text(),
                                            date_range : $(val).find(".date-range").text(),
                                            location : $(val).find(".location").text(),
                                            description_html : $(val).find(".description").html()
                                        };
                                    })),
                                    education : $.makeArray(page.find("#education > ul > li").map(function(i, val) {
                                        return {
                                            logo_url : $(val).find(".logo img").attr("data-delayed-url"),
                                            title : $(val).find(".item-title").text(),
                                            subtitle : $(val).find(".item-subtitle").text(),
                                            date_range : $(val).find(".date-range").text(),
                                            description_html : $(val).find(".description").html()
                                        };
                                    })),
                                    skills : $.makeArray(skills.find(".pv-skill-category-entity__skill-wrapper.tooltip-container").map(function(i, val) {
                                        return {
                                            name : $(val).find(".pv-skill-category-entity__name").text().trim(),
                                            count : $(val).find(".pv-skill-category-entity__endorsement-count").text()
                                        };
                                    })),
                                    certifications : $.makeArray(page.find("#certifications > ul > li").map(function(i, val) {
                                        var li_url = $(val).find("a").attr("href");
                                        var r = new URL(li_url);
                                        return {
                                            url : r.searchParams.get("url"),
                                            title : $(val).find(".item-title").text(),
                                            subtitle : $(val).find(".item-subtitle").text(),
                                            date_range : $(val).find(".date-range").text()
                                        };
                                    })),
                                    courses : $.makeArray(page.find("#courses > ul > li").map(function(i, val) {
                                        return {
                                            title : $(val).find(".item-title").text(),
                                            courses : $.makeArray($(val).find(".courses-list-container.description > ul > li").map(function(i, val){
                                                return $(val).text();
                                            }))
                                        };
                                    })),
                                    awards : $.makeArray(page.find("#awards > ul > li").map(function(i, val) {
                                        return {
                                            title : $(val).find(".item-title").text(),
                                            subtitle : $(val).find(".item-subtitle").text(),
                                            date_range : $(val).find(".date-range").text(),
                                            description_html : $(val).find(".description").html()
                                        };
                                    })),
                                    projects : $.makeArray(page.find("#projects > ul > li").map(function(i, val) {
                                        var li_url = $(val).find("a").attr("href");
                                        var r = new URL(li_url);
                                        return {
                                            url : r.searchParams.get("url"),
                                            title : $(val).find(".item-title").text(),
                                            subtitle : $(val).find(".item-subtitle").text(),
                                            date_range : $(val).find(".date-range").text(),
                                            description_html : $(val).find(".description").html(),
                                            contributers : $.makeArray($(val).find(".contributors ul li").map(function(i,val) {
                                                var a_tag = $(val).find("a");
                                                return {
                                                    name : a_tag.length == 0 ? $(val).text().replace(/,/g,"") : $(val).find("a").text(),
                                                    url : $(val).find("a").attr("href")
                                                };
                                            }))
                                        };
                                    })),
                                    recommendations : $.makeArray(page.find("#recommendations .recommendation").map(function(i, val) {
                                        return $(val).text();
                                    })),
                                    groups : $.makeArray(page.find("#groups > ul > li").map(function(i, val) {
                                        return {
                                            url : $(val).find("a").attr("href"),
                                            logo_url : $(val).find(".logo img").attr("data-delayed-url"),
                                            title : $(val).find(".item-title").text()
                                        };
                                    })) 
                                }
                            });

                            console.log(vm.$data);
                        }
                    });
                }
            });
        </script>
    </body>
</html>